{% extends "_base.html" %}
{% load humanize %}

{% block page_title %}لیست کتابها{% endblock %}

{% block content %}
    <div class="row flex-row-reverse justify-content-md-center">
        {% for book in books %}
            <div class="card m-2" style="max-width: 45%">
                <div class="row g-0 h-100" dir="rtl">
                    <div class="col-md-4 mt-2">
                        {% if book.cover %}
                            <img src="{{ book.cover.url }}"
                                 class="card-img-top"
                                 style="height:250px; object-fit:cover;">
                        {% endif %}
                    </div>
                    <div class="col-md-8 h-100">
                        <div class="d-flex flex-column justify-content-between h-100">
                            <div class="card-body">
                                <h3 class="card-title"><strong>{{ book.title }}</strong></h3>
                                <p class="card-text pt-3">
                                    {{ book.description|truncatewords:30 }}
                                </p>
                                <p class="text-muted">نویسنده: {{ book.author }}</p>
                                <p class="fw-bold text-success">
                                    {{ book.price|floatformat:0|intcomma }} ریال
                                </p>

                                <a href="{{ book.get_absolute_url }}" class="btn btn-outline-primary w-100">
                                    مشاهده کتاب
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        <br>
        <div class="text-center mb-4 mt-4">
            <a href="{% url 'book_create' %}" class="btn btn-outline-success">
                ایجاد کتاب جدید
            </a>
        </div>
    </div>
{% endblock %}


